.app_wrapper {
    max-width: 1200px;
    margin: 30px auto 0;
}
.app_searchBar_input {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border-radius: 10px;
    border: 1px solid #eee;
    outline: none;
    font-size: 18px;
}
.app_content {
    margin-top: 10px;
}
