.app_wrapper {
    max-width: 1200px;
    margin: 30px auto 0;
}
.app_searchBar_input {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border-radius: 10px;
    border: 1px solid #eee;
    outline: none;
    font-size: 18px;
}
.app_content {
    display: flex;
    margin-top: 10px;
}
.app_sidebar {
    width: 20%;
}
.app_list {
    width: 80%;
}
.app_list_item {
    padding: 3px 0;
    font-size: 20px;
    list-style-type: none;
}
.app_toolBar_wrapper {
    padding: 15px 0;
}
.app_sortByName {
    display: inline-block;
    height: 40px;
    padding: 0 15px;
    border-radius: 10px;
    border: 1px solid #eee;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
